.row
    display flex;
    flex-direction row;

.column
    display flex;
    flex-direction column;

.center 
    display flex
    align-items center
    justify-content center

.aligned-center-row
    @extend .row;
    align-items center;

.aligned-center-column
    @extend .column;
    align-items center;

.fully-centralized-row
    @extend .aligned-center-row;
    justify-content center;

.fully-centralized-column
    @extend .aligned-center-column;
    justify-content center;

.hamburger-bar
    width 100%;
    height 2px;
    background $white;
    transition $default-transition $default-duration;

.filled-button
    background $white
    color $primary-color
    transition $default-transition $default-duration
    border $default-border $white
    border-radius $default-radius
    box-shadow $default-shadow
    cursor pointer
    &:hover
        background transparent
        color $white        


.commom-header
    @extend .aligned-center-row
    position fixed
    top 0
    left 0
    justify-content: space-between
    width 100%
    padding $default-padding-spacing
    z-index: $index-after-all
    
    @media screen and (min-width: 1024px)    
        padding 1% 5%

    @media screen and (min-width: 1280px)
        padding 1% $large-padding-horizontal 


.responsive-logo
    width 75px
    z-index $index-after-all    

    @media screen and (min-width: 800px) 
        width 100px
    
    @media screen and (min-width: 1024px)  
        width 110px
    
    @media screen and (min-width 1600px)
        width 115px
