$primary-color = #2BC866;
$clear-grey = #C8CDDA;
$white = #fff;
$linear-progress-gradient = linear-gradient(to right, #2BC866, #2BC866, #C8CDDA, #C8CDDA); 

$default-duration = .25s;
$default-transition = ease-in-out;

$small-font-size = .9em;
$default-font-size = 1em;
$medium-font-size = .1.1em;
$large-font-size = 1.3em;

$default-padding-spacing = 3% 5%;
$large-padding-horizontal = 7%; 
$default-border = 1px solid;