.head 
    @extend .commom-header
    background $primary-color
    z-index $index-after-all

    &--logo 
        @extend .responsive-logo
    
    &__menu 
        @extend .column
        z-index $index-after
        justify-content center
        width 30px
        height 30px
        position relative

        &--bar 
            @extend .hamburger-bar            
            
            &:before 
                @extend .hamburger-bar
                content ''
                position absolute
                bottom 23px

            &:after 
                @extend .hamburger-bar
                content ''
                position absolute
                top 23px
            
        &.active .head__menu--bar 
            background transparent
           
            &:before 
                transform rotate(-45deg) translate(-11px, 2px)
            
            &:after 
                transform rotate(45deg) translate(-10px, -2px)
        
  

        &__items 
            @extend .fully-centralized-column
            background $primary-color
            position absolute
            left 0
            top 0
            width 100%
            height 100vh
            display none

            &.visible 
                display flex
                      
            &--item 
                align-items center
                justify-content center
                padding 20px
                text-align center
                color $white
                font-size $large-font-size
                font-weight $bold
                
            
        
@media screen and (min-width: 800px)  
    .head__menu--bar 
            display none
        
    .head__menu__items 
            display flex
            position relative
            width 100%
            height 100%
            display flex
            flex-direction row
            justify-content flex-end

            &--item 
                padding 0
                font-size $small-font-size
                align-items center
                margin-right 3%
                padding 5px 12px
                border-radius $default-radius
                font-weight 500
                border transparent $default-border
                cursor pointer
                
                &:last-child 
                    background $white
                    transition $default-transition $default-duration
                    border $default-border $white
                    border-radius $default-radius
                    box-shadow $default-shadow
                    cursor pointer
                    font-weight: $bold
                    
                    & > a
                        color $primary-color
                        
                &:hover
                    @extend .filled-button
                    
                    & > a
                        transition $default-transition $default-duration
                        color $white
                

@media screen and (min-width: 1024px)    
    .head__menu__items--item 
        font-size $default-font-size

@media screen and (min-width 1600px)
    .head__menu__items--item 
        font-size $medium-font-size

