.home
    @extend .center
    width 100%
    height 100vh
    background $primary-color  
    padding $default-padding-spacing

    &__container 
        @extend .fully-centralized-column
        margin-top 5%
       
        &__content 
            @extend .aligned-center-column
            text-align center
            color $white

            &--title
                font-size $title-font-size
                font-weight bold
            
            &--description
                margin-top 15px
                $paragraph-font-size

            &--button
                @extend .filled-button
                width 210px
                padding 10px
                font-size $small-font-size
                font-weight bold
                margin 35px 0
                text-transform uppercase

                &:before
                    content 'Dê o primeiro passo'

        &__map
            width 100%
            @extend .center

            &--img
                width 80%           


@media screen and (min-width: 640px)
    .home
        padding 2% 15%
        
        &__container__content--title
            font-size $expansive-font-size
        
        &__container__content--description
            font-size $large-font-size

        &__container__content--button
            width 230px
            font-size $medium-font-size
            padding 15px 10px
    
        &__container__map--img
            width 75%


@media screen and (min-width: 800px)
    .home
        padding 3% 10%

        &__container
            flex-direction row
            align-items flex-start
        
            &__content 
                display flex
                align-items flex-start
                text-align left
                position relative

                &--title
                    width 100%
                    position relative
                    padding-right 35% 
                    
                    &:after
                        content ''
                        position absolute
                        top 100%
                        left 0
                        margin-top 18px
                        width 18%   
                        height 4px 
                        background $white
                
                &--description
                    margin-top 40px
                    padding-right 5%
                    font-size $default-font-size
                
                &--button
                    width 165px
                    font-size $paragraph-font-size
                    padding 11px

                    &:before
                        content 'Quero utilizar'
        
        
            &__map
                position: relative
                
                &:after
                    content ''
                    position absolute
                    background-image $objects-shadow-gradient
                    opacity .05
                    height 75%
                    width 280px
                    bottom 10% 
                    left 20% 
                    filter blur(4px)
                    transform: skew(-25deg)
                
                &--img
                    z-index $index-after
                    width 300px  
                    



@media screen and (min-width: 1024px)
    .home
        padding 3% 12%
        
        &__container__content--title 
            padding-right 45%

            &:after
                width 15%
                margin-top 25px
            
        &__container__content--description
            padding-right 20%
            margin-top 55px

        &__container__map
            &:after
                width 260px
                left 35% 

            &--img
                width 320px

@media screen and (min-width: 1280px)
    .home__container__content--title
        padding-right 45%
        font-size $expansive-font-size

    .home__container__content--description
        font-size 1.2em 
        padding-right 20%

    .home__container__map
        &:after
            width 310px

        &--img
            width 370px


@media screen and (min-width: 1360px)
    .home
        padding 3% 15%

        &__container__content
            width 70%
            
            &--title
                font-size $last-font-size
                padding-right 30%
            
            &--description
                padding: 13px 10% 13px 0

    .home__container__map
        &:after
            width 350px

        &--img
            width 420px


@media screen and (min-width: 1440px)
    .home__container__content--button
        padding 12px

    .home__container__map
        &:after
            width 360px

        &--img
            width 425px


@media screen and (min-width: 1680px)
    .home__container__content--title
        padding-right 40%

    .home__container__content--description
        padding-right 30%

    .home__container__map
        &:after
            width 380px

        &--img
            width 440px


@media screen and (min-width: 1920px)
    .home__container__content--title
        padding-right 50%

    .home__container__map
        &:after
            width 410px

        
        &--img
            width 470px
        
        