.list
    width 100%
    height 100%
    box-shadow $default-shadow
    margin-top 30px
    border-radius $default-radius
    padding 0 1px
   
    &__header
        @extend .row
        width 100%
        justify-content space-between
        padding 12px 10px
        font-size $paragraph-font-size
        border-bottom: $default-border #eee
        text-transform: capitalize
        font-weight: bold

        &--status
            width 100%

        &--locale
            width 100%

    &__item
        @extend .row
        padding 10px 0

        &:nth-child(odd)
            background #f2f2f2

        &__status
            @extend .aligned-center-row
            padding 0 3px
            width 50%

            & > img 
                display none
                width 35px
            
            &__content
                @extend .column
                justify-content: flex-start
                margin-left 20px
                

                &--title
                    font-size $small-font-size

                &--date
                    font-size $paragraph-font-size
        
        &__locale
            width 50%
            padding 0 3px

            &--text
                font-size $small-font-size


@media screen and (min-width: 800px) 
    .list__header
        padding 15px 25px

        &--status
            width 45%
        
        &--locale
            width 55%

    .list__item
        padding 10px 25px
        
        &__status 
            width 45%

            & > img 
                display flex
        &__locale
            width 55%

@media screen and (min-width: 1280px)
    .list__header
        padding 20px 25px
        font-size: $medium-font-size

    .list__item
        padding 20px 25px

        &__status__content--title
            font-size $medium-font-size