.tracking
    width 100%
    height 100%
    
    &__container
        @extend .fully-centralized-column
        padding $default-padding-spacing
        width 100%
        height 100vh

        &__content
            @extend .column
            width 100%
            text-align left
            
            &--title
                font-size $large-font-size
                color $dark-grey

@media screen and (min-width: 1280px)
    .tracking__container
        padding 1% $large-padding-horizontal